body {
  background-color: rgb(232, 235, 239);
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.box_loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.438);
  justify-content: center;
  align-items: center;
  display: none;
}

.show {
  display: flex;
}

table,
td,
th {
  border: 1px solid black;
  height: 30px;
  text-align: center;
}

table,
.table-click {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  min-width: 300px;
}

.table-click {
  margin: 0 auto;
}
/* ----------------------------------- */
.click {
  display: flex;
}
h1 {
  font-size: 45px;
  margin: 0;
  padding: 0;
}
span {
  display: flex;
  font-size: 50px;
}
section {
  display: flex;
}

#down {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  height: 100vh;
  width: 1000px;
  background-color: coral;
}
